.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Sofia Pro', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 2px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-color: #5ab963 #5ab963 #5ab963 #e6e6e6;
  border-left-style: solid;
  border-left-width: 5px;
  font-family: 'IBM Plex Mono', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

figcaption {
  margin-top: 5px;
  text-align: center;
}

.navigation {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 25px;
  padding-right: 75px;
  padding-left: 75px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -90px;
  padding: 310px 30px 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/5f9831179bc0c48321989099_cam1.0238.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.bullet {
  width: 4px;
  height: 4px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
  background-color: #fff;
}

.navigation-button {
  margin-left: 15px;
  border: 2px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.navigation-button:hover {
  background-color: #fff;
  color: #000;
}

.header-content {
  max-width: 720px;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  text-align: center;
  letter-spacing: 2px;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  letter-spacing: 1px;
}

.button {
  margin-top: 50px;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Sofia Pro', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
}

.button:hover {
  background-color: #eee;
}

.button.cc-cta {
  margin-top: 0px;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1170px;
}

.container.cc-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container.cc-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 160%;
  font-weight: 300;
}

.h2-container {
  width: 50%;
  margin-bottom: 50px;
}

.text-span {
  color: #000;
  font-weight: 800;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.h3.cc-cta {
  margin-bottom: 0px;
  color: #5ab963;
}

.slider-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-bottom: 100px;
  padding-left: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  background-color: #2c2c2c;
}

.slider {
  height: 720px;
  max-width: 1440px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 30px;
}

.slide {
  background-image: url('../images/cam3.0626.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-nav {
  font-size: 6px;
}

.icon {
  width: 30px;
  height: 30px;
}

.left-arrow {
  display: block;
}

.right-arrow {
  display: block;
}

.slide-2 {
  background-image: url('../images/cam8.2303.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/cam11.3949.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.body {
  display: block;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 150px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.cta-line {
  width: 30px;
  height: 2px;
  margin-left: 20px;
  background-color: #5ab963;
}

.cta-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-left-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 30px 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0a0e1a;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.footer-column.cc-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-footer-credits {
  margin-top: 15px;
  font-family: 'Libre Franklin', sans-serif;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.footer-links-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link-footer {
  margin-bottom: 25px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: 'Libre Franklin', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
}

.link-footer:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.link-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-link.w--current {
  color: #fff;
}

.s-features {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: -88px;
  padding-top: 75px;
  padding-bottom: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 90px 90px 0px 0px;
  background-color: #2c2c2c;
}

.heading {
  margin-left: 30px;
  padding-left: 20px;
  border-left: 5px solid #84adff;
  color: #fff;
  font-size: 32px;
  line-height: 150%;
}

.col-fw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-rounded {
  border-radius: 30px;
}

.caption-title {
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.caption {
  padding-top: 20px;
}

.caption.caption-inside {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.caption-desc {
  padding-top: 0px;
  font-family: 'Sofia Pro', sans-serif;
  color: hsla(0, 0%, 100%, 0.85);
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mask {
  border-radius: 27px;
}

.slide-4 {
  background-image: url('../images/cam14.4629.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-5 {
  background-image: url('../images/cam2.0546-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.how-to {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #2c2c2c;
}

.step-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 260px;
  margin: 20px 20px 20px -15px;
  padding-left: 0px;
}

.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 140%;
  font-weight: 500;
}

.step-download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #333;
}

.btn-download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 54px;
  min-width: 200px;
  margin: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fff;
  font-family: 'Sofia Pro', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 54px;
  font-weight: 500;
  letter-spacing: 1px;
}

.alt-link {
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-weight: 500;
}

.step-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-2 {
  grid-column-gap: 42px;
  grid-row-gap: 26px;
}

.note-title {
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

.note {
  margin-top: 50px;
}

.paragraph-2 {
  margin-top: 30px;
  font-family: 'Sofia Pro', sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 24px;
  line-height: 140%;
  font-weight: 500;
}

.text-link {
  color: #fff;
  font-weight: 600;
}

.text-link.no-underline {
  text-decoration: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.step-item-number {
  width: 160px;
  padding-right: 20px;
  font-family: 'Sofia Pro', sans-serif;
  color: hsla(0, 0%, 100%, 0.15);
  font-size: 270px;
  line-height: 200px;
}

.s-footer {
  position: static;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  margin-top: -48px;
  padding-top: 50px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #202020;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 75px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright {
  font-family: 'Sofia Pro', sans-serif;
  color: #b1b1b1;
  font-size: 19px;
  font-weight: 500;
}

.back-to-top {
  font-family: 'Sofia Pro', sans-serif;
  color: #b1b1b1;
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.lightbox-link {
  text-decoration: none;
}

.top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #6441a5;
}

.top-bar-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Sofia Pro', sans-serif;
  color: #e7e7e7;
  letter-spacing: 1px;
}

.media {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #2c2c2c;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.media-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 30px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.media-item.media-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(rgba(0, 0, 0, 0.31))), url('../images/nano_features.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, 0.31)), url('../images/nano_features.png');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
}

.media-item.media-1:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.media-item.media-2 {
  background-image: url('../images/1_QIt5RiMA16VmRUM-jBLxjw.png');
  background-position: 50% 70%;
  background-size: cover;
}

.media-item.media-2:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.media-item.media-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), to(rgba(1, 16, 46, 0.31))), url('../images/1_QIt5RiMA16VmRUM-jBLxjw.png');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(1, 16, 46, 0.31)), url('../images/1_QIt5RiMA16VmRUM-jBLxjw.png');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
}

.media-item.media-3 {
  background-image: url('../images/1_fdT0icOWM2J5MMSx7a5jxQ.png');
  background-position: 50% 70%;
  background-size: cover;
}

.media-item.media-3:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.tag {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Sofia Pro', sans-serif;
  color: #fff;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.div-block-7 {
  position: absolute;
  left: auto;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-6 {
  background-image: url('../images/slide_6-multiplayer.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.size {
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.43);
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .navigation {
    z-index: 999;
    padding-right: 10px;
  }

  .navigation-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .header {
    padding-right: 60px;
    padding-left: 60px;
  }

  .bullet {
    display: none;
  }

  .navigation-button {
    width: 75%;
    margin: 20px 30px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .h2-container {
    width: 80%;
  }

  .slider-section {
    padding-right: 0px;
    padding-bottom: 75px;
    padding-left: 0px;
  }

  .slider {
    height: 480px;
  }

  .nav-menu {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #5ab963;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .icon-2 {
    color: #fff;
    font-size: 32px;
  }

  .menu-button:active {
    background-color: #5ab963;
  }

  .menu-button.w--open {
    background-color: #5ab963;
  }

  .s-features {
    padding-bottom: 75px;
  }

  .grid {
    grid-row-gap: 51px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .step-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .step-download {
    min-height: 160px;
  }

  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .step-item-number {
    padding-left: 10px;
  }

  .grid-3 {
    grid-row-gap: 36px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 600px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .h1 {
    line-height: 140%;
  }

  .container.cc-cta {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .container.cc-footer {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .h2-container {
    width: 100%;
    margin-bottom: 60px;
  }

  .slider {
    height: 300px;
    margin-top: 0px;
  }

  .cta {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .cta-column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-column {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .footer-column.cc-footer {
    width: 100%;
  }

  .s-features {
    padding-bottom: 75px;
  }

  .col-fw {
    margin-bottom: 55px;
  }

  .grid {
    grid-row-gap: 54px;
  }

  .step-item-number {
    color: hsla(0, 0%, 100%, 0.35);
  }

  .s-footer {
    position: static;
    width: 100%;
    height: 171px;
  }

  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .back-to-top {
    margin-top: 20px;
    text-decoration: none;
  }
}

@media screen and (max-width: 479px) {
  .navigation {
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .navigation-container {
    height: 60px;
  }

  .header {
    height: 590px;
    margin-top: -60px;
    margin-bottom: 30px;
    padding-top: 66px;
    padding-bottom: 98px;
  }

  .h1 {
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0px;
  }

  .button {
    margin-top: 20px;
  }

  .h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .slider-section {
    padding-bottom: 75px;
  }

  .slider {
    height: 210px;
    margin-top: 0px;
  }

  .body {
    font-size: 14px;
  }

  .footer-column {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-links-list {
    width: 50%;
  }

  .footer-social {
    width: 50%;
  }

  .logo.w--current {
    margin-right: 10px;
    margin-left: -10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .nav-menu {
    margin-top: 15px;
    background-color: rgba(32, 36, 32, 0.95);
  }

  .menu-button:active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .menu-button.w--open {
    background-color: hsla(105, 0%, 92%, 0);
  }

  .s-features {
    margin-top: -125px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 50px 50px 0px 0px;
  }

  .heading {
    margin-left: 0px;
  }

  .caption {
    padding-top: 10px;
  }

  .caption-desc {
    font-size: 18px;
  }

  .grid {
    grid-row-gap: 54px;
  }

  .step-item {
    width: 100%;
    min-height: auto;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block-4 {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
  }

  .step-download {
    min-height: 280px;
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-2 {
    width: 100%;
    max-width: 100%;
  }

  .note-title {
    text-align: left;
  }

  .paragraph-2 {
    font-size: 18px;
    line-height: 140%;
    text-align: left;
  }

  .text-link.no-underline {
    font-size: 12px;
    line-height: 14px;
  }

  .step-item-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.35);
    font-size: 130px;
    line-height: 120px;
  }

  .image-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .s-footer {
    height: auto;
    padding-top: 50px;
  }

  .footer-wrap {
    padding: 0px 10px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .copyright {
    width: 90%;
    height: 50px;
    margin-top: 20px;
  }

  .back-to-top {
    margin-top: 5px;
  }

  .top-bar-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

#w-node-d0f34b7c60de-7dab331e {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}